<!DOCTYPE html>
{% extends 'forum/base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
{% block forum %}
    <a href="/chat/chats/">Go Back</a>
    <h3>{{ user1 }} and {{ user2 }}</h3>
    <div id="chat" style="height: 200px; overflow-x:hidden; overflow-y:visible; background-color: white;"></div>
    <div class="chat-input" style="margin: 0 auto;">
      <input type="text" id="message" value="">
      <button type="submit" class="btn btn-danger" id="chat-submit">Send</button>
    </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
  <script type="text/javascript">
  $(function() {
    // When we're using HTTPS, use WSS too.
    var date = new Date();
    var id = {{ id }};
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var chatSocket = new WebSocket('ws://' + window.location.host +'/ws/chat/' + id + '/');

    if ("{{ user }}" == "{{ user1 }}"){
      var user1 = "{{ user1 }}";
      var user2 = "{{ user2 }}";
    } else {
      var user1 = "{{ user2 }}";
      var user2 = "{{ user1 }}";
    }

    chatSocket.onopen = (e) => {
      chatSocket.send(JSON.stringify({
          'message': "",
          'sender': user1,
          'receiver': user2
      }));
    };

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data)['data'];
        $("#chat").empty();
        for(var i = 0; i < data.length; i++) {
          var message = data[i].message;
          var sender = data[i].sender;
          var receiver = data[i].receiver;
          var txt = "";
          if(sender == "{{ user }}"){
                txt += "<p class='right' style='text-align:right'>" + message + ' - ' + sender + "</p><br>";
          } else {
                txt += "<p class='left' style='text-align:left'>" + message + ' - ' + sender + "</p><br>";
          }
          $("#chat").append(txt);
        }

        var elem = document.getElementById("chat");
        elem.scrollTop = elem.scrollHeight;

        // console.log(data['data']);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#message').focus();
    document.querySelector('#message').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-submit').click();
        }
    };

    document.querySelector('#chat-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#message');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'sender': user1,
            'receiver': user2
        }));

        messageInputDom.value = '';
    };
  });
</script>
{% endblock %}
</body>
