<!DOCTYPE html>
{% extends 'forum/base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
{% block forum %}
<div class="container-fluid">
    <div class="row chatHeader">
        <div class="col-xs-12">
            <a href="/chat/chats"><i class="fa fa-angle-left"></i></a>
            <img class="chatProfilePic" src="/media/{{ user2_profile.profile_pic }}"/>
            <span class="chatName">{{ user2_profile.user.username }}</span>
        </div>
    </div>
    <div class="row chatBody" id="chat">
        <div class="col-12">

        </div>
    </div>
    <div class="form-row">
        <div class="col-10">
            <textarea class="form-control" id="message" rows="1"></textarea>
        </div>
        <div class="col-2">
            <button type="submit" class="btn sendMessageBtn" id="chat-submit">
                Send
            </button>
        </div>
    </div>
</div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
  <script type="text/javascript">
  $(function() {
    // When we're using HTTPS, use WSS too.
    var date = new Date();
    var id = {{ id }};
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var chatSocket = new WebSocket('ws://' + window.location.host +'/ws/chat/' + id + '/');

    if ("{{ user }}" == "{{ user1 }}"){
      var user1 = "{{ user1 }}";
      var user2 = "{{ user2 }}";
    } else {
      var user1 = "{{ user2 }}";
      var user2 = "{{ user1 }}";
    }

    chatSocket.onopen = (e) => {
      chatSocket.send(JSON.stringify({
          'message': "",
          'sender': user1,
          'receiver': user2
      }));
    };

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data)['data'];
        $("#chat > .col-12").empty();
        for(var i = 0; i < data.length; i++) {
          var message = data[i].message;
          var sender = data[i].sender;
          var receiver = data[i].receiver;
          var timestamp = data[i].timestamp;
          var txt = "";

          if(sender == "{{ user }}"){
                txt += `
                        <div class="messageSent">
                            <p class="messageText">${message}<p>
                            <span class="messageTime">${timestamp}</span>
                        </div>
                        `;
          } else {
                txt += `
                        <div class="messageReceived latestMsg">
                            <p class="messageText">${message}<p>
                            <span class="messageTime">${timestamp}</span>
                        </div>
                        `;
          }
          $("#chat > .col-12").append(txt);
        }

        var elem = document.getElementById("chat");
        elem.scrollTop = elem.scrollHeight;

        // console.log(data['data']);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#message').focus();
    document.querySelector('#message').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-submit').click();
        }
    };

    document.querySelector('#chat-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#message');
        var message = messageInputDom.value;
        var regEx = /<[^>]*/g;
        if(!regEx.test(message)) {
          chatSocket.send(JSON.stringify({
              'message': message,
              'sender': user1,
              'receiver': user2
          }));
        }

        messageInputDom.value = '';
    };
  });
</script>
{% endblock %}
</body>
