{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Book X</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Book exchange app" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/icon-font.min.css' %}" type='text/css' />
    <script src="{% static 'js/simpleCart.min.js' %}"> </script>
    <script src="{% static 'js/amcharts.js' %}"></script>
    <script src="{% static 'js/serial.js' %}"></script>
    <script src="{% static 'js/light.js' %}"></script>
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <style>
    .right {
      color: red
    }
    .left {
      color: blue
    }
    .footer{
        padding-top: 20px;
    }
    </style>
</head>
<body>
    <div class="page-container">
        <div class="left-content">
            <div class="inner-content">
                <div class="header_bg">
                    <div class="header">
                        <div class="head-t">
                            <div class="logo">
                                <a href="{% url 'index' %}"><img src="/media/images/UnicodeLogo.png" class="img-responsive" alt="Unicode" style="width: 220px; height: 45px;"> </a>
                            </div>
                            <!-- start header_right -->
                            <div class="clearfix"> </div>
                        </div>
                    </div>

                </div>
                <!-- //header-ends -->

                <!--content-->
                <div class="content">
                    <div class="women_main">
                        <!-- start main content -->
                        <div class="grids">

                          {% block forum %}
                          {% endblock %}
                            <!-- Sab Masala idhr -->

                        </div>
                        <hr>
                        <!-- end content -->

                        <div class="footer">
                            <div class="col-md-6 myac" style="text-align: center">
                                <h4>MY ACCOUNT</h4>
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'sign_in:profile' %}">Profile</a></li>
                                {% endif %}
                                <li><a href="{% url 'books:search' %}">My Books</a></li>
                                <li><a href="{% url 'forum:list' %}">Forum</a></li>
                                <li><a href="{% url 'chat:user-list' %}">Messages</a></li>
                            </div>
                            <div class="col-md-6 our-st" style="text-align: center">
                                <div class="our-left">
                                    <h4>Address</h4>
                                </div>

                                <li><i class="add"></i>
                                    DJ Sanghvi College of Engineering<br/>
                                    Vile Parle (W), Mumbai.
                                </li>
                                <li><i class="phone"> </i>+91-22-42335000</li>
                                <li><a href="mailto:info@djsce.ac.in"><i class="mail"> </i>info@djsce.ac.in</a></li>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <header class="logo1">
                <a href="#" class="sidebar-icon"><span class="fa fa-bars"></span> </a>
            </header>
            <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
            <div class="menu">
                <ul id="menu" >
                    <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> <span>Home</span></a></li>
                    <li><a href="{% url 'books:search' %}"><i class="fa fa-book"></i><span>Book Inventory</span></a></li>
                    <li><a href="{% url 'forum:list' %}"><i class="fa fa-list-ul"></i><span>Forum</span></a></li>
                    <li><a href="{% url 'chat:user-list' %}"><i class="fa fa-comments"></i> <span>Messages</span></a></li>
                    {% if user.is_authenticated %}
                      <li><a href="{% url 'sign_in:profile' %}"><i class="fa fa-user"></i> <span>My Profile</span></a></li>
                      <li><a href="/logout/"><i class="fa fa-power-off"></i><span>Log Out</span></a></li>
                    {% else %}
                      <li><a href="/login/"><i class="fa fa-sign-out"></i><span>Login</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <script>
    var toggle = true;

    $(".sidebar-icon").click(function() {
        if (toggle)
        {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position":"absolute"});
        }
        else
        {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function() {
                $("#menu span").css({"position":"relative"});
            }, 400);
        }

        toggle = !toggle;
    });
</script>
<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'js/jquery.flot.js' %}"></script>
<script src="{% static 'js/jquery.fn.gantt.js' %}"></script>
<script>

$(function() {

    "use strict";

    $(".gantt").gantt({
        source: [{
            name: "Sprint 0",
            desc: "Analysis",
            values: [{
                from: "/Date(1320192000000)/",
                to: "/Date(1322401600000)/",
                label: "Requirement Gathering",
                customClass: "ganttRed"
            }]
        },{
            name: " ",
            desc: "Scoping",
            values: [{
                from: "/Date(1322611200000)/",
                to: "/Date(1323302400000)/",
                label: "Scoping",
                customClass: "ganttRed"
            }]
        },{
            name: "Sprint 1",
            desc: "Development",
            values: [{
                from: "/Date(1323802400000)/",
                to: "/Date(1325685200000)/",
                label: "Development",
                customClass: "ganttGreen"
            }]
        },{
            name: " ",
            desc: "Showcasing",
            values: [{
                from: "/Date(1325685200000)/",
                to: "/Date(1325695200000)/",
                label: "Showcasing",
                customClass: "ganttBlue"
            }]
        },{
            name: "Sprint 2",
            desc: "Development",
            values: [{
                from: "/Date(1326785200000)/",
                to: "/Date(1325785200000)/",
                label: "Development",
                customClass: "ganttGreen"
            }]
        },{
            name: " ",
            desc: "Showcasing",
            values: [{
                from: "/Date(1328785200000)/",
                to: "/Date(1328905200000)/",
                label: "Showcasing",
                customClass: "ganttBlue"
            }]
        },{
            name: "Release Stage",
            desc: "Training",
            values: [{
                from: "/Date(1330011200000)/",
                to: "/Date(1336611200000)/",
                label: "Training",
                customClass: "ganttOrange"
            }]
        },{
            name: " ",
            desc: "Deployment",
            values: [{
                from: "/Date(1336611200000)/",
                to: "/Date(1338711200000)/",
                label: "Deployment",
                customClass: "ganttOrange"
            }]
        },{
            name: " ",
            desc: "Warranty Period",
            values: [{
                from: "/Date(1336611200000)/",
                to: "/Date(1349711200000)/",
                label: "Warranty Period",
                customClass: "ganttOrange"
            }]
        }],
        navigate: "scroll",
        scale: "weeks",
        maxScale: "months",
        minScale: "days",
        itemsPerPage: 10,
        onItemClick: function(data) {
            alert("Item clicked - show some details");
        },
        onAddClick: function(dt, rowId) {
            alert("Empty space clicked - add an item!");
        },
        onRender: function() {
            if (window.console && typeof console.log === "function") {
                console.log("chart rendered");
            }
        }
    });

    $(".gantt").popover({
        selector: ".bar",
        title: "I'm a popover",
        content: "And I'm the content of said popover.",
        trigger: "hover"
    });

    prettyPrint();

});

</script>
<script src="{% static 'js/menu_jquery.js' %}"></script>
</body>
</html>
