<!DOCTYPE html>
{% extends "forum/base.html" %}
{% block forum %}
<style>
label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
#id_profile_pic {
    color: #fff;
    border-color: #B52E31 !important;
}
.errorlist {
  color: red;
  font-style: italic;
  font-weight: 600;
}
li {
  list-style-type: none;
}
</style>
<br><div class="registration">
    <div class="col-md-offset-3 col-md-6"><h2>Register Here</h2>
<div class="registration_form">
 <form method="post" enctype="multipart/form-data">
   {% csrf_token %}
   {{ user_form.as_p }}
   {{ profile_form.as_p }}
   <button type="submit" class="btn btn-danger">Sign Up</button>
</form>
</div></div>
<div class="clearfix"></div>
</div>
{% endblock %}
