<div>
    <form method="get">
        {{ book_filtered.form.as_p }}
        <button type="submit">Search</button>
    </form>
    <a href="{% url 'book_listing:book-add' %}">
        <button>Add Book</button>
    </a>
    <ul>
    {% for book in book_filtered.qs %}
        <a href="{% url 'book_listing:details' %}">
            <img src="{{ book.book_image.url }}" style="width:140px;height:140px;">
            <li>Author : {{ book.author }}</li>
            <li>Title : {{ book.title }}</li>
            <li>Description : {{ book.description }}</li>
            <li>Publication : {{ book.publication }}</li>
            <li>Semester : {{ book.semester }}</li>
            <li>Subject: {{ book.subject }}</li>
        </a><br>
        <a href="{% url 'book_listing:update' book.id %}">
            <button>Update Ad</button>
        </a>
        <a href="{% url 'book_listing:delete' book.id %}">
            <button>Delete Ad</button><br>
        </a><br><br>
    {% endfor %}
    </ul>
</div>
